
<div class="mt-3 d-flex justify-content-center">
    <div class="row alert alert-primary w-50 mt-5">
        <h3 class="alert-heading text-center mb-5">Pristup nije dozvoljen!</h3>
        <div class="d-flex justify-content-center mb-4">
            <img src="~/access-denied.png"/>
        </div>
        <p class="mb-0 text-center">Za pristup sadržaju morate biti prijavljeni u sustav! 
            <br /><a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-warning mt-3 link-underline link-underline-opacity-0">Prijava korisnika</a>
        </p>
    </div>
</div>



