@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="~/ai-box.png" class="w-100" />
        </div>

        <div class="col-6 pt-5 mt-5">
            <div class="row">
                <h1 class="text-light fw-bolder fs-1"><strong class="text-warning">Tvrtko</strong>.ai</h1>
                <blockquote class="blockquote">
                    <p class="fs-5 mt-4 text-justify" style="text-align: justify">
                        Ova usluga omogućuje Vam izvlačenje podataka o kompaniji iz slike uz korištenje umjetne inteligencije.
                        Dovoljno je učitati sliku koja sadrži podatke o tvrkti, a ostatak posla će obaviti umjetna inteligencija.
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer text-warning fst-italic mb-5">digitalni asistent</figcaption>
            </div>

            <div class="card border-primary pb-4">
                <div class="card-header">Odaberite sliku</div>
                <div class="card-body">
                    <form method="post" asp-action="Upload" enctype="multipart/form-data">
                        <div class="mb-2">
                            <input id="fileToUpload" name="fileToUpload"
                                   type="file" class="d-none" accept=".png, .jpg, .jpeg" onchange="validateFileType()" />
                            <div class="input-group mt-3 p-4">
                                <button class="input-group-text btn btn-primary" type="button" onclick="selectFileClick();">Pretraži</button>
                                <input id="fileDisplay" type="text" class="form-control" readonly="readonly" onclick="selectFileClick();" />
                                <div class="input-group-text bg-secondary" onclick="selectFileClick();"><i class="bi bi-caret-down-fill"></i></div>
                            </div>
                        </div>
                        <div class="mb-2 form-group d-flex justify-content-center mt-2">
                            <button class="btn btn-warning w-25" id="uploadButton"><i class="bi bi-building-fill-add"></i> Kreiraj tvrtku</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).on('change', ':file', function (e) {
            console.log('in change');
            $("#fileDisplay").val(e.target.value);
        });

        function selectFileClick() {
            console.log('in trigger');
            $("#fileToUpload").trigger("click");
        }

        //File type validation
        const imageInput = document.getElementById('fileToUpload');
        imageInput.addEventListener('change', handleImageSelection);
        function handleImageSelection(event) {
            const selectedFile = event.target.files[0];

            if (selectedFile) {
                const allowedImageTypes = ['image/jpeg', 'image/png', 'image/jpg'];

                if (allowedImageTypes.includes(selectedFile.type)) {
                    console.log('Selected image file:', selectedFile);
                } else {
                    // The selected file is not an image.
                    alert('Odaberite odgovarajući format (jpg, jpeg ili png).');
                    imageInput.value = '';
                }
            }
        }

        //Empty input validation
        const buttonElement = document.getElementById('uploadButton');
        const inputElement = document.getElementById('fileToUpload');
        buttonElement.addEventListener('click', function () {
            const inputValue = inputElement.value.trim();
            if (inputValue === '') {
                event.preventDefault();
                alert("Morate odabrati sliku!");
                document.getElementById('fileDisplay').focus
            } else {
                console.log('Input value:', inputValue);
            }
        });

    </script>
}
